body{
    background-color:beige;
}
header{
    background-color:gold ;
    color: white;
    padding: 20px;
    text-align: center;
}
.Name{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

.text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.sub-header{
    font-size: 35px;
}
.list{
   font-size: 25px;
}